.client-list {
  display: grid;
  padding: 0;
  margin: 0;

  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  list-style-type: none;

  font-size: 1rem;
}

.client-list__item {
  display: flex;
  align-items: center;

  max-width: 8rem;
}

.client-list__item--text {
  max-width: none;
  width: 10rem;
}

@media (min-width: 60em) {
  .client-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 80em) {
  .client-list {
    grid-template-columns: repeat(8, 1fr);
  }
}
