.footer {
  padding-top: 15rem !important;
  padding-bottom: 4rem !important;
  margin-top: -15rem;

  overflow: visible !important;

  font-size: 1rem;
}

.footer__about {
  color: var(--theme-primary);
  font-weight: bold;

  & > img {
    display: block;
  }

  & dd {
    display: block;
    padding: 0;
    margin: 0 1rem 0 0;
  }
}

.footer__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer__link-list {
  padding: 0;
  margin: 0;

  list-style-type: none;

  & a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }
}

.footer__button-top-container {
  position: relative;
  z-index: 100;
}

.footer__button-top {
  display: none;
  padding: 0;
  margin: 0;

  position: absolute;
  left: calc(50% + 36rem);
  top: -17rem;
  z-index: 100;

  background-color: transparent;
  background-image: none;
  border: 0;

  & img {
    width: 4rem;
  }
}

@media (min-width: 80rem) {
  .footer__button-top {
    display: block;
  }
}
