.header {
  overflow: hidden;
  padding: 0.75rem 2rem;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  color: var(--theme-secondary-lighter-text);
}

.header__call-to-action {
  grid-area: cta;
  justify-self: end;
}

.header__content {
  display: grid;
  gap: 1rem;

  grid-template-areas: 'logo'
    'cta';
}

.header__logo {
  grid-area: logo;
  height: 3.75rem;

  justify-self: center;
}

@media (min-width: 50rem) {
  .header__content {
    grid-template-areas: '- logo cta';
    grid-template-columns: 1fr min-content 1fr;
  }
}
