.header-sticky {
  overflow: hidden;
  padding: 0.75rem 2rem;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  background-color: var(--theme-secondary-lighter);
  color: var(--theme-secondary-lighter-text);

  transform: translateY(0);
  transition: transform 200ms;

  &[hidden] {
    display: block !important;

    transform: translateY(-100%);
  }
}

.header-sticky__call-to-action {
  grid-area: cta;
  justify-self: end;
}

.header-sticky__call-to-action-text {
  display: none;
}

.header-sticky__contact {
  display: none;
  padding: 0;
  margin: 0;

  grid-area: contact;

  color: var(--theme-primary);
  font-weight: bold;

  & dt,
  & dd {
    display: inline;
    padding: 0;
    margin: 0 1rem 0 0;
  }
}

.header-sticky__contact-icon {
  vertical-align: middle;
  margin-top: -0.3rem;
  margin-right: 0.25rem;
}

.header-sticky__content {
  display: grid;
  gap: 1rem;

  grid-template-areas: 'logo cta';
  grid-template-columns: 1fr min-content;
}

.header-sticky__logo {
  height: 1.5rem;
  margin-top: 0.5rem;
}

@media (min-width: 40em) {
  .header-sticky__logo {
    height: 2.75rem;
    margin-top: 0;
  }
}


@media (min-width: 60em) {
  .header-sticky__content {
    grid-template-areas: 'logo contact cta';
    grid-template-columns: 1fr min-content min-content;
  }

  .header-sticky__logo {
    margin-top: 0.5rem;
  }
}

@media (min-width: 80em) {
  .header-sticky__contact {
    display: inline;
    margin-top: 0.75rem;
    white-space: nowrap;

    & dt,
    & dd {
      display: inline;
    }
  }

  .header-sticky__call-to-action-text {
    display: inline;
  }
}
