.jumbotron {
  padding-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.jumbotron__intro {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron__title {
  font-size: 3rem;
}

@media (min-width: 60rem) {
  .jumbotron {
    padding-top: 2rem;
  }

  .jumbotron__intro {
    font-size: 1.5rem;
  }
}
