.jumbotron {
  padding-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.jumbotron__intro {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;

  font-size: 1.5rem;
}

.jumbotron__title {
  font-size: 4rem;
}
