.product {
  position: relative;
  background-color: #fafbfd !important;

  background-image: linear-gradient(
    -10deg,
    #fafbfd 50%,
    var(--theme-background) 50%
  );
  background-size: 100% 90rem;
  background-repeat: no-repeat;

  font-size: 1.25rem;
  line-height: 1.5;
}

.product__name {
  font-size: 2rem;
}

.product__number {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;

  &::before {
    color: var(--theme-primary);
    content: '/';
  }
}

.product__preview {
  margin-top: 2rem;
  margin-bottom: 2rem;

  & img {
    display: block;
    height: auto;
    width: 100%;
  }
}

@media (min-width: 80em) {
  .product {
    font-size: 1.5rem;
  }

  .product__number {
    position: absolute;
    left: 2rem;
    top: 4rem;
  }
}
