.section {
  --section-background: var(--theme-background);
  --section-foreground: var(--theme-background-text);

  overflow: hidden;
  padding: 2rem;

  position: relative;

  background-color: var(--section-background);

  color: var(--section-foreground);
}

.section--dark {
  --section-background: var(--theme-secondary);
  --section-foreground: var(--theme-secondary-text);
}

.section--dark-alt {
  --section-background: var(--theme-secondary-lighter);
  --section-foreground: var(--theme-secondary-lighter-text);
}

.section--gray {
  --section-background: var(--color-tint-3);
  --section-foreground: var(--color-tint-0);
}

.section--without-inline-padding {
  padding-left: 0;
  padding-right: 0;
}

.section__heading {
  margin: 0;

  position: absolute;
  left: calc(50% - 50rem);
  top: -2rem;
  z-index: 0;

  pointer-events: none;

  font-size: 12rem;

  opacity: 0.05;
}
