.section {
  --section-background: var(--theme-background);
  --section-foreground: var(--theme-background-text);

  overflow: hidden;
  padding: 4rem 2rem;

  background-color: var(--section-background);

  color: var(--section-foreground);
}

.section--dark {
  --section-background: var(--theme-secondary);
  --section-foreground: var(--theme-secondary-text);
}

.section--dark-alt {
  --section-background: var(--theme-secondary-lighter);
  --section-foreground: var(--theme-secondary-lighter-text);
}

.section--decorated {
  background-image: url(../../images/decorative/grid.svg),
    url(../../images/decorative/lines.svg);
  background-position: 1rem 3rem, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 5rem auto, 40% auto;

  padding-bottom: 16rem;
}

.section--gray {
  --section-background: var(--color-tint-3);
  --section-foreground: var(--color-tint-0);
}

/* .section--without-inline-padding {
  padding-left: 0;
  padding-right: 0;
} */
