@import './generic/font';
@import './generic/reset';

@import './elements/anchor';
@import './elements/blockquote';
@import './elements/body';
@import './elements/heading';
@import './elements/paragraph';

@import './components/button';
@import './components/card-list';
@import './components/card';
@import './components/client-list';
@import './components/container';
@import './components/heading';
@import './components/image-list';
@import './components/jumbotron';
@import './components/person-list';
@import './components/product-list';
@import './components/product';
@import './components/section';
@import './components/testimonial';
@import './components/text';
@import './components/visually-hidden';

:root {
  --color-tint-0: #000;
  --color-tint-1: #afafaf;
  --color-tint-2: #c4c4c4;
  --color-tint-3: #f4f4f4;
  --color-tint-4: #fff;

  --theme-background: var(--color-tint-4);
  --theme-background-text: #212a3f;

  --theme-primary: #fb5f61;
  --theme-primary-text: var(--color-tint-4);
  --theme-secondary: #192337;
  --theme-secondary-text: var(--color-tint-4);
  --theme-secondary-lighter: #212a3f;
  --theme-secondary-lighter-text: var(--color-tint-2);

  --border-radius: 0.25rem;
}
