a {
  color: var(--theme-primary);
  font-weight: bold;
  text-decoration-thickness: 0.125em;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  & > img {
    height: auto;
    width: 1.25em;
  }
}

a[href^="mailto:"],
a[href^="tel:"] {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
